/Divisibility/nbproject/private/
/Divisibility/nbproject/Makefile-*.mk
/Divisibility/nbproject/Package-*.bash
/Divisibility/build/
/Divisibility/nbbuild/
/Divisibility/dist/
/Divisibility/nbdist/
/Divisibility/.nb-gradle/
/Divisibility_Win/nbproject/private/
/Divisibility_Win/build/
/Divisibility_Win/dist/